{{>navbar}}
<section class="header">
    <div class="header-text">
        <h1>Decrypting the Encrypted Message</h1>
        <h2>Implementation of AES-256 encrpytion from the Node.js crypto library</h2>
    </div>
</section>

<section id="encryptedTextInput">
    <form method="POST" action="/encryption-demo">
        <div class="form-group">
            <label for="secretKey" class="form-item">Secret Key:</label>
            <input class="form-control" value="{{key}}" name="secretKey">
        </div>
        <div>
            <label for="encryptedText" class="form-item">Message to be decrpyted:</label>
            <input class="form-control" value="{{encryptedMessage}}" name="encryptedText">
        </div>
        <div class="form-group">
            <button id="decryptBtn" class="btn btn-light" type="submit" name="decrypt" value="Decrpyt!">Decrypt!</button>
        </div>
    </form>
</section>

<section class="display-message">
    <div>
        <p>Encrypted Message: {{encryptedMessage}}</p>
        <p>Decrypted Message: {{plainTextMessage}}</p>
    </div>
</section>