{{>navbar}}
<section class="header">
    <div class="header-text">
        <h1>Advanced Encryption Standard 256 Bit Encryption</h1>
        <h2>Implementation of AES-256 encrpytion from the Node.js crypto library</h2>
    </div>
</section>

<section id="plainTextInput">
    <form method="POST" action="/encryption-demo">
        <div class="form-group">
            <label for="secretKey">Secret Key:</label>
            <input class="form-control"value="{{key}}" name="secretKey">
        </div>
        <div class="form-group">
            <label for="plainText" class="form-item">Message to be encoded:</label>
            <input id="plainTextMsg" class="form-control" value="{{plainTextMessage}}" name="plainText" placeholder="Write your message here.">
        </div>
        <div class="form-group">
            <button id="encryptBtn" class="btn btn-light" type="submit" name="encrypt" value="Encrypt!">Encrypt!</button>
        </div>
    </form>
</section>

<section class="display-message">
    <div>
        <p>Original Message: {{plainTextMessage}}</p>
        <p>Encrypted Message: {{encryptedMessage}}</p>
    </div>
</section>
    

