{{>navbar}}
<section id="welcome">
    <div class="header">
        <h1>Welcome to Encrypto!</h1>
    </div>
    <div>
        <p>This is a webpage where I have attempted to implement components from the Node.js Crypto library which are required for end to end encrpytion.</p>
        <a href="https://nodejs.org/api/crypto.html">Link to Crypto Library</a>
    </div>
</section>
