{{>navbar}}
<section id="welcome">
    <div class="header">
        <h1>Welcome to Encrypto!</h1>
    </div>
    <div>
        <p>This is a webpage where I have attempted to understand and implement the components required for end to end encrpytion.</p>
    </div>
</section>
