{{>navbar}}
<section class="header">
    <div class="header-text">
        <h1>AES 256 Bit Encryption</h1>
    </div>
</section>

<section class="nav-bar">
    <h1>This will become a navbar</h1>
</section>


<section class="plainTextInput">
    <form>
        <label for="secretKey" class="form-item">
            Secret Key:
            <input value="123456789" name="secretKey">
        </label>
        <br>
        <br>
        <label for="plainText" class="form-item">
            Message to be encoded: 
            <input value="PLACEHOLDER FOR PLAINTEXT MESSAGE" name="plainText">
        </label>
        <br>
        <br>
        <input type="submit" name="encrypt" value="Encrypt!">
        <br>
        <br>
        <p>Encrypted Message: PLACEHOLDER FOR ENCRYPTED MESSAGE</p>
    </form>
</section>
    
<section class="encryptedTextInput">
    <form>
        <label for="secretKey" class="form-item">
            Secret Key:
            <input value="123456789" name="secretKey">
        </label>
        <br>
        <br>
        <label for="encryptedText" class="form-item">
            Message to be decrpyted:
            <input value="PLACEHOLDER FOR ENCRYPTED MESSAGE" name="encryptedText">
        </label>
        <br>
        <br>
        <input type="submit" name="decrypt" value="Decrpyt!">
        <br>
        <br>
        <p>Encrypted Message: PLACEHOLDER FOR PLAINTEXT MESSAGE</p>
    </form>
</section>