body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color:white;
}
section {
    padding: 2% 15%;
    font-size: 2rem;
    
}

.display-message {
    color:white;
    
}

* {
    margin: 0;
    padding: 0
}

canvas {
    display: inline;
    z-index: -1;
    position: absolute;
}

#welcome {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

#welcome a {
    color: white;

}